{{define "title"}}Add{{end}}
{{define "main"}}
<arabic-input autofocus></arabic-input>
{{end}}
{{define "footer"}}
<div>
	<delete-errors></delete-errors>
	<button class="bg-red-600 text-white rounded-lg p-2">Delete Vowels</button>
</div>
<button class="bg-sky-600 text-white rounded-lg p-2">Next</button>

{{end}}