{{define "title"}}Add{{end}}
{{define "main"}}
<h2 class="text-2xl text-center">{{.Excerpt.Title}}</h2>
<arabic-input autofocus></arabic-input>
{{end}}
{{define "footer"}}
<div>
	<delete-errors></delete-errors>
	<delete-vowels></delete-vowels>
</div>
<button class="bg-sky-600 text-white rounded-lg p-2">Next</button>

{{end}}