{{define "title"}}{{.Excerpt.Title}}{{end}}
{{define "nav"}}
	{{if not .ExcerptShared}}
		{{with printf "%s/excerpt/grammar?id=%s&share=true" .Host (id .Excerpt.GShare)}}
			{{template "owner-nav" .}}
		{{end}}
	{{else}}
		{{template "share-nav" .}}
	{{end}}
{{end}}
{{define "main"}}
{{if .Excerpt.GLocked}}
<div class="text-center bg-yellow-300 text-black">
<span class="material-symbols-outlined align-bottom">warning</span>
This page is locked, so it cannot be modified. {{if not .ExcerptShared}}Click 
<a class="underline cursor-pointer"
hx-put="/excerpt/grammar/unlock?id={{id .Excerpt.ID}}"
hx-swap="innerHTML"
hx-target="closest body">here</a> to unlock it (note that this resets
the later pages){{end}}</div>
{{end}}
<h2 class="text-2xl text-center">{{.Excerpt.Title}}</h2>
<grammar-tag
id="{{if not .ExcerptShared}}{{id .Excerpt.ID}}{{else}}{{id .Excerpt.GShare}}{{end}}"
value="{{json .Excerpt.Grammar}}"
{{if .ExcerptShared}}shared{{end}}></grammar-tag>
<template id="template-tags">
	{{range .GrammaticalTags}}
		<p>{{.}}</p>
	{{end}}
</template>
{{end}}
{{define "footer"}}
{{if not .ExcerptShared}}
	<button hx-get="/excerpt/edit?id={{id .Excerpt.ID}}"
	hx-target="closest body"
	hx-swap="innerHTML"
	hx-push-url="true"
	class="bg-sky-600 text-white rounded-lg p-2">Back</button>
	{{if .Excerpt.GLocked}}
	<button hx-get="/excerpt/technical?id={{id .Excerpt.ID}}"
	hx-target="closest body"
	hx-swap="innerHTML"
	hx-push-url="true"
	class="bg-sky-600 text-white rounded-lg p-2">Next</button>
	{{else}}
	<button hx-confirm="Clicking next will disable grammatical tagging. Are you sure you want to continue?"
	hx-put="/excerpt/grammar/lock?id={{id .Excerpt.ID}}"
	hx-target="closest body"
	hx-swap="innerHTML"
	hx-push-url="true"
	class="bg-sky-600 text-white rounded-lg p-2">Next</button>
	{{end}}
{{end}}
{{end}}
