{{define "title"}}Grammar{{end}}
{{define "nav"}}
	{{template "owner-nav"}}
{{end}}
{{define "main"}}
<h2 class="text-2xl text-center">{{.Excerpt.Title}}</h2>
<grammar-tag></grammar-tag>
{{end}}
{{define "footer"}}
{{end}}
