{{define "title"}}Home{{end}}
{{define "nav"}}
	{{template "simple-nav"}}
{{end}}
{{define "main"}}
<div class="flex flex-col gap-3 items-center justify-center h-full">
	<h1 class="text-2xl">Create a new excerpt</h1>
	<form class="flex flex-col gap-3" action="/" method="POST">
	<div>
		{{with .Form.FieldErrors.title -}}
			<p class="text-md text-red-500 font-bold text-center pb-1">{{.}}</p>
		{{end -}}
		<input required name="title" value="{{.Form.Title}}" class="block" id="title" placeholder="Enter title"></input>
	</div>
		<button class="text-xl bg-sky-600 text-white rounded px-4 py-2" type="submit">Create</button>
		<p class="w-60">Once you create your excerpt,
		<span class="font-bold text-orange-600">BOOKMARK YOUR URL.</span></p>
		<p class="w-60">There's no other way to access your excerpt unless you have
		the URL.</p>
	</form>
</div>
{{end}}
{{define "footer"}}
{{end}}