{{define "base"}}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{template "title"}} - Arabic Tagging</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&display=swap">

	<link rel="stylesheet" href="static/main.css">
	<script type="module" src="static/main.js"></script>
</head>
<body class="h-screen flex flex-col p4 bg-red-50/25">
	<nav class="text-white bg-red-800 px-5 py-2 flex justify-between items-center text-2xl border-b-2 drop-shadow-md">
		<a href="#" class="underline">Back</a>
		<p class="font-black">Arabic Text</p>
		<button type="button" class="bg-sky-600 px-3 py-2 rounded-lg">Share</button>
	</nav>
	<main class="grow">
		{{template "main" .}}
	</main>
</body>
</html>
{{end}}
