{{define "base"}}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{template "title"}} - Arabic Tagging</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amiri&display=swap">

	<link rel="stylesheet" href="static/main.css">
	<script type="module" src="static/main.js"></script>
	<script src="static/htmx-1.9.4.min.js" defer></script>
</head>
<body hx-boost="true" class="h-screen flex flex-col bg-red-50/25">
	<nav class="text-white bg-red-800 px-5 py-2 grid grid-cols-3 grid-rows-1 border-b-2 drop-shadow-md">
		{{template "nav" .}}
	</nav>
	<main class="grow">
		{{template "main" . }}
	</main>
	<footer class="px-5 py-3 border-t-2 text-2xl justify-between flex">
		{{template "footer" . }}
	</footer>
</body>
</html>
{{end}}
