:root {
    --background: #fff5eb;
    --background-even: #ffd6ac;
    --background-odd: #ffc387;

    --button-primary: #fefefe;
    --button-primary-fill: #42C62F;
    --button-primary-stroke: #42C62F;
    --button-primary-shadow: #257519;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: Inter;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
}

button {
    background-color: var(--button-primary-fill);
    color: var(--button-primary);
    padding: .5rem;
    font-size: inherit;
    cursor: pointer;
}

.main {
    display: flex;
    flex: 1 1 auto;
}

.sentences {
    width: 80%;
}

.sentence-outer {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 3rem;
    font-size: 3rem;
}

.sentence-outer:nth-child(even) {
    background-color: var(--background-even);
}

.sentence-outer:nth-child(odd) {
    background-color: var(--background-odd);
}

.inspector {
    position: sticky;
    background-color: #eee;
    display: inline-block;
    width: 20%;
}

.inspector h1 {
    margin-top: 1rem;
    text-align: center;
}
