{{define "simple-nav"}}
<h1 class="font-black col-start-2 text-2xl text-center"><a href="/">Arabic Text</a></h1>
{{end}}

{{define "share-nav"}}
<h1 class="font-black col-start-2 text-2xl text-center"><a href="/">Arabic Text</a></h1>
<button class="bg-sky-600 text-xl w-1/2 mx-auto" type="button">Share</button>
{{end}}